[submodule "rdd"]
	path = rdd
	url = https://github.com/xtcpete/rdd.git
[submodule "LiftFeat"]
	path = LiftFeat
	url = https://github.com/lyp-deeplearning/LiftFeat.git
[submodule "mast3r"]
	path = mast3r
	url = https://github.com/naver/mast3r.git
